<ul class="link-list">
  <li><a href="/">CLT Web</a></li>
  <li><a href="https://github.com/zairoscodes">GitHub</a></li>
  <li><a href="https://github.com/zairoscodes/zairoscodes.io">GitHub.io Page</a></li>
  <li><a href="https://www.freecodecamp.org/ChristianBCodes">FreeCodeCamp</a></li>
  <li><a href="https://www.codecademy.com/profiles/Christianb.CODES">Codecademy</a></li>
  <li><a href="https://www.linkedin.com/in/christian-beckford/">LinkedIn</a></li>
  <li>
    <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
      <img style="border:0;width:88px;height:31px" src="https://www.w3.org/Icons/valid-html401" alt="Valid HTML!">
    </a>
  </li>
  <li>
    <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
      <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
    </a>
  </li>
 
<p><a href="..BeckfordInnovations.html"> @ Beckford Innovation 2025</a></p>