<ul>
    <a href="/">CLT Web</a>
    <a href="https://github.com/zairoscodes">GitHub</a>
    <a href="https://github.com/zairoscodes/zairoscodes.io">GitHub.io Page</a>
    <a href="https://www.freecodecamp.org/ChristianBCodes">FreeCodeCamp</a>
    <a href="https://www.codecademy.com/profiles/Christianb.CODES">Codecademy</a>
    <a href="https://www.linkedin.com/in/christian-beckford/">LinkedIn</a>
    <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
        <img style="border:0;width:88px;height:31px" src="https://mytienhoang.github.io/itis3135/z_archives/">
      </a>
      <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
        <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss">
      </a>
      
</ul>
<p><a href="firm.html">Beckford Innovation 2025</a></p>