
        <nav>
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="introduction.html">Introduction</a></li>
                <li><a href="contract.html">Contract</a></li>
                <li><a href="/">UNCC Home</a></li>
                <li><a href="whismical_company_index.html"> Whimiscal Company</a></li>
                <li> <a href="stuff_in_your_course_web_folder/website.html"> Crappy Website</a> </li>
                <li> <a href= "hobby\index.html"a> Hobby Website </li>
                <li><a href="tables.html">Tables Assignment</a></li>
               <li><a href="BeckfordInnovations.html">My Firm</a></li>
               <li> <a href="project/index.html"> Project Overview</a></li>
               <li><a href="reiview1.html">Review 1</a></li>
               <a href=review2.html>Review 2</a>
               
            </ul>
        </nav>